pyrogram
pymongo
pymongo[srv]
asyncio==3.4.3
gpytranslate==1.5.1
requests
tgcrypto==1.2.5
telegraph==2.2.0
wget==3.2
SafoneAPI
youtube_search
yt_dlp
ffmpeg-python
play_scraper
beautifulsoup4>=4.9.1
Pillow
pytz==2023.3
pytube
youtube_dl
youtube-search-python
FFmpeg==1.4
motor
aiofiles
aiohttp
httpx
httpx[http2]
async-timeout
opencv-python-headless
googlesearch-python
bs4
pymediainfo
prettytable
anime-api
lyricsgenius
tinydb
